<p>Kлассическое игровое поле представляет собой матрицу 4х4 клеток, на котором по порядку (слева - направо и сверху - вниз) располагаются цифры от 1 до 15</p>
<p>Последняя клетка – пустая. Клетки перемешиваются определенным образом, и задача игрока состоит в том, чтобы восстановить их первоначальное правильное расположение. Делать это можно лишь путем перемещения на пустую клетку другой, соседней с ней клетки (расположенной слева, справа, сверху или снизу от пустой).</p>
<p><span>Цель игры</span> - расположить клетки в правильно порядке</p>
<div class="flex-container">
  <img src="../../../assets/FifteenRulesMixed.PNG" alt="">
  <b> → </b>
  <img src="../../../assets/FifteenRulesSolved.PNG" alt="">
</div>

