<p>В каждом раунде появляются 2 плитки номиналом "2".</p>
<p>Нажатием ↑ ← → ↓ игрок скидывает все плитки в одну сторону. Если одинаковые плиты сталкиваются, то они сливаются, суммируя номинал. После каждого хода на свободном месте появляются две плитки номиналом "2".</p>
<p>За каждое соединение игровые очки увеличиваются на номинал получившейся плитки.</p>
<p>Игра заканчивается поражением, если после очередного хода невозможно совершить действие.</p>

<p><span>Цель игры - дойти до номинала "2048"</span></p>

<img src="assets/2048-solved.png" alt="">
