p{
  font-size: 20px;
  font-family: "Times New Roman";
  font-style: italic;
}
span{
  color: palegoldenrod;
  font-weight: 500;
  text-decoration: underline;
}
img{
  margin: 0 auto;
  display: block;
  background: white;

  width: 35%;
  height: 50%;

  float: right;

  margin: 0 2rem;
}
